body {
overflow:hidden;
margin:0;
padding:0;
}

#menu {
position:absolute;
width:400px;
height:250px;
top:50%;
left:50%;
text-align:center;
border:3px solid #18CAE6;
border-radius:1px;
background-color:rgba(0,0,0,0.5);
/*box-shadow:2px 10px 5px #888;*/
margin:-125px 0 0 -200px;
}

#menu p {
font-weight:700;
color:#fff;
}

#menu h1 {
font-weight:700;
color:#fff;
}

#menu p a {
color:#fff;
}

#menu button {
width:80px;
height:25px;
background-color:#000000;
border:3px solid #18CAE6;
border-radius:1	px;
font-size:14px;
font-weight:700;
color:#fff;
}

#points {
position:absolute;
width:120px;
height:16px;
top:20px;
right:80px;
border:3px solid #fff;
border-radius:15px;
background-color:#E36B23;
box-shadow:2px 10px 5px #888;
font-size:14px;
font-weight:700;
color:#fff;
text-align:right;
display:none;
padding:12px;
}

#music {
	border: none;
	position:absolute;
	z-index:-3;
}

#cube-runner {
	border: none;
	position:absolute;
	z-index:-2;
}

#mapimage {
	margin-top:10px;
	margin-left:10px;
	border: 1px solid #ddd;
	opacity:0.5;
	filter:alpha(opacity=50);
}

.map {
	position:absolute;
	z-index:-1;
}