body {
overflow:hidden;
margin:0;
padding:0;
}

.osd {
position:absolute;
}

#menu {
width:400px;
height:320px;
top:50%;
left:50%;
text-align:center;
border:3px solid #18CAE6;
border-radius:1px;
margin:-160px 0 0 -200px;
background-color:rgba(0,0,0,0.5);
}

.osd p {
font-family: 'Helvetica', sans-serif;
color:#fff;
}

.osd h1 {
font-family: 'Orbitron', sans-serif;
font-weight:700;
color:#fff;
font-size: 40px;
}

.osd p a {
color:#fff;
}

#menu button {
width:80px;
height:25px;
background-color:rgba(0,0,0,0.5);
border:3px solid #18CAE6;
border-radius:1px;
font-size:14px;
font-weight:700;
color:#fff;
cursor: hand;
cursor: pointer;
}

#play_button {
	visibility: hidden;
}

#status {
	color:#18CAE6;
}

#footer {
width:700px;
top:90%;
left:50%;
text-align:center;
margin:-8px 0 0 -350px;
background-color:rgba(0,0,0,0.5);
}

#footer p {
font-size: 14px;
}

#facebook {
	width:100%;
	margin-top: 10px;
}

.twitter-share-button {
	margin-left:25px;
}

#points {
position:absolute;
width:580px;
height:20px;
top:20px;
right:80px;
border:3px solid #18CAE6;
border-radius:1px;
background-color:rgba(0,0,0,0.7);
font-family: 'Orbitron', sans-serif;
font-size:25px;
font-weight:700;
color:#fff;
text-align:center;
display:none;
padding:12px;
}

#music {
	border: none;
	position:absolute;
	z-index:-3;
}

#cube-runner {
	border: none;
	position:absolute;
	z-index:-2;
}

#mapimage {
	position:absolute;
	z-index:-1;
	display:none;
	margin-top:10px;
	margin-left:10px;
	background-color: rgba(0,0,0,0);
	/*border:3px solid #18CAE6;
	border-radius:1px;
	opacity:0.8;*/
	filter:alpha(opacity=70);
}